!!!!!!!!!!!!!!
! Xft settings
!!!!!!!!!!!!!!

Xft.dpi: 96
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!!!!!!!!!!!!!!
! xst settings
!!!!!!!!!!!!!!

st.termname: st-256color
st.shell: /usr/bin/oksh
st.font: Fira Mono:pixelsize=14:antialias=true:hinting=true
st.bold_font: 1
st.italic_font: 1
st.xfps: 120
st.actionfps: 30
st.bellvolume: 0
st.tabspaces: 4
st.opacity: 255
st.background: #000000
