!!!!!!!!!!!!!!!!
! emacs settings
!!!!!!!!!!!!!!!!

Emacs.pane.menubar.*.fontList: 8x16
Emacs.background: #f6f6f6
Emacs.foreground: #f6f6f6
Emacs.color0: #f6f6f6
Emacs.color8: #f6f6f6      
Emacs.color1: #f6f6f6      
Emacs.color9: #f6f6f6      
Emacs.color2: #f6f6f6
Emacs.color10: #f6f6f6
Emacs.color3: #f6f6f6
Emacs.color11: #f6f6f6
Emacs.color4: #f6f6f6
Emacs.color12: #f6f6f6
Emacs.color5: #f6f6f6
Emacs.color13: #f6f6f6
Emacs.color6: #f6f6f6
Emacs.color14: #f6f6f6
Emacs.color7: #f6f6f6
Emacs.color15: #f6f6f6

!!!!!!!!!!!!!!
! xft settings
!!!!!!!!!!!!!!

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!!!!!!!!!!!!!!!!
! urxvt settings
!!!!!!!!!!!!!!!!

URxvt.font: xft:Source Code Pro:pixelsize=10:antialias=true:Semibold
URxvt.boldFont: xft:Source Code Pro:pixelsize=10:antialias=true:Bold
URxvt.italicFont: xft:Source Code Pro:pixelsize=10:antialias=true:Italic
URxvt.boldItalicFont: xft:Source Code Pro:pixelsize=10:antialias=true:Italic:Bold
URxvt.scrollbar: false
URxvt.visualBell: false
URxvt.saveLines: 0
URxvt.geometry: 100x40 
URxvt.depth: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.internalBorder: 5
URxvt.iso14755: false
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.perl-ext-common: default,clipboard,selection-to-clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.urlLauncher:     /usr/bin/firefox
URxvt.background:      #f6f6f6
URxvt.foreground:      #2c2c2c
URxvt.cursorColor:     #000000
URxvt.underlineColor:  #ffffff

! black
URxvt.color0:       #f6f6f6
URxvt.color8:       black

! red
URxvt.color1:       #2c2c2c
URxvt.color9:       #2c2c2c

! green
URxvt.color2:       #2c2c2c
URxvt.color10:      #2c2c2c

! yellow
URxvt.color3:       #2c2c2c
URxvt.color11:      #2c2c2c

! blue
URxvt.color4:       #2c2c2c
URxvt.color12:      #2c2c2c

! magenta
URxvt.color5:       #2c2c2c
URxvt.color13:      #2c2c2c

! cyan
URxvt.color6:       #2c2c2c
URxvt.color14:      #2c2c2c

! white
URxvt.color7:       #ffffff
URxvt.color15:      #ffffff
